<div class="row">
  <div class="col-lg-2">
    <div class="d-grid">
      <button
        class="btn btn-primary btn-block"
        type="button"
        (click)="backToHome()"
      >
        Back to home
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-2">
    <div class="card border-secondary mb-3">
      {{ onlineUsers | json }}
      <div class="card-header h3 text-muted text-center">Users</div>
      <div class="card-body" style="min-height: 555px">
        <div
          class="row mt-1"
          *ngFor="let user of notificationService.onlineUsers"
        >
          <div class="col">
            <div class="d-grid">
              <button
                type="button"
                [ngClass]="{
                  'btn-success': user === notificationService.userName,
                  'btn-primary': user !== notificationService.userName
                }"
                class="btn card-text btn-block"
                [disabled]="user === notificationService.userName"
                (dblclick)="openPrivateChat(user)"
              >
                {{ user }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="card border-secondary">
      <div class="card-header h3 text-muted text-center">Messages</div>
      <div class="card-body" style="min-height: 500px">
        <app-chat-messages [messages]="notificationService.newMessages"></app-chat-messages>
        <div class="card-footer">
          <app-chat-input
            (sendMessageEmitter)="sendMessage($event)"
          ></app-chat-input>
        </div>
      </div>
    </div>
  </div>
</div>
